# ---------- API ----------
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1

# ---------- Auth ----------
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace-me-with-openssl-rand-base64-32

# ---------- Sentry ----------
NEXT_PUBLIC_SENTRY_DSN=

# ---------- PostHog ----------
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://us.posthog.com
